<footer id="footer">
	<div class="social-links cols-2">
		{% if site.repository %}
			<div class="cols inline-block">
				<a class="block" href="https://github.com/{{ site.repository.username }}/" target="_blank" rel="external noopener">
					{% include icon.html icon="mark-github" class="current-color icon social-icon" %}
					<span>GitHub Profile</span>
				</a>
				<a class="block" href="https://github.com/{{ site.repository.username }}/{{ site.repository.project }}" target="_blank" rel="external noopener">
					{% include icon.html icon="repo" class="current-color icon social-icon" %}
					<span>GitHub Repo</span>
				</a>
				<a class="block" href="https://github.com/{{ site.repository.username }}/{{ site.repository.project }}/issues" target="_blank" rel="external noopener">
					{% include icon.html icon="issue-opened" class="current-color icon social-icon" %}
					<span>Report a Problem</span>
				</a>
			</div>
		{% endif %}
		<div class="cols inline-block">
			<a class="block" href="https://shgysk8zer0.github.io" target="_blank" rel="external noopener" itemprop="sameAs">
				{% include icon.html icon="web-browser" class="current-color icon social-icon" %}
				<span>My Website</span>
			</a>
			<a class="block" href="https://twitter.com/shgysk8zer0" target="_blank" rel="external noopener" itemprop="sameAs">
				{% include icon.html icon="twitter" class="icon social-icon" %}
				<span>On Twitter</span>
			</a>
			<a class="block" href="https://www.linkedin.com/in/chris-zuber-455346141/" target="_blank" rel="external noopener" itemprop="sameAs">
				{% include icon.html icon="linkedin" class="icon social-icon" %}
				<span>LinkedIn</span>
			</a>
		</div>
	</div>
	<hr />
	{% if site.service_worker %}
			<button is="pwa-install" class="btn btn-primary" src="{{ site.service_worker }}" scope="/" title="Install Web App" reloadonupdate="">
				{% include icon.html icon="system-software-install" %}
				<span>Install</span>
			</button>
		{% endif %}
	<div class="copyright">
		<github-user user="{{ site.repository.username }}">
			<h3 slot="header">Created by</h3>
			<h4 itemprop="creator" itemtype="https://schema.org/Organization" itemscope="">
				<span itemprop="name">
					<a href="https://kernvalley.us" target="_blank" rel="noopener external" itemprop="url">KernValley.US</a>
				</span>
			</h4>
		</github-user>
		{% include keep-kern-clean.html %}
		<br />
		<span>&copy;</span>
		<time is="current-year">2020</time>
	</div>
</footer>
